services:
  server:
    image: docker.gitea.com/gitea:latest-rootless
    container_name: gitea
    env_file: .env
    restart: always
    networks:
      - kidcredo
    volumes:
      - ${KD_DATA}/data:/var/lib/gitea
      - ${KD_CONFIG}:/etc/gitea
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
    # ports:3000,22
    depends_on:
      - gitea-db
  gitea-db:
    image: postgres:18-alpine
    container_name: gitea-db
    env_file: .env
    restart: always
    networks:
      - kidcredo
    volumes:
      - ${KD_DB}:/var/lib/postgresql
networks:
  kidcredo:
    external: true
x-dockge:
  urls:
    - https://git.home.kidcredo.com
    - https://git.homelab.kidcredo.com
